body{
    background-color: rgb(37, 70, 37);
    color:white;
}

.cabecalho{
    margin: 0px;
    padding: 0;
    display: flex;
    color: white;
    background-color: rgb(13, 48, 13);

}

.cabecalho-img{
    width: 120px;
    height: 120px;
}

.campo-cidade-titulo{
    font-family: "Bebas Neue";
    font-size: 30px;
}

.campo-cidade-imagemgeral {
    padding: 24px;
    height: 650px;
    width: 1200px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }
}