body{
    background-color: rgb(13, 48, 13);
    color:white;
}

.cabecalho{
    margin-bottom: 0px;
    display: flex;
    color: white;
}

.cabecalho-img{
    width: 120px;
    height: 120px;
}

.campo-cidade-titulo{
    font-family: "Bebas Neue";
    font-size: 30px;
}

.campo-cidade-imagemgeral {
    padding: 24px;
    height: 650px;
    width: 1200px;
}